<!DOCTYPE html>
<html lang="en">
<head>
    <title>Secure Adda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secure Adda</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/style.css">


</head>
<body>
    <div id="header">
        <div class="container-fluid">
<nav class="navbar navbar-expand-lg">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    <img src="public/images/SecureAdda.png" alt="Secure Adda" style="width:120px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Help</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
              <li class="nav-item">
      <a class="nav-link" href="/about"><b>About</b></a>
    </li>
       
  </ul>
  
  <ul class="navbar-nav right">
    <li class="nav-item">
      <a class="nav-link" href="/signup"><strong>Get Started</strong></a>

    </li>
   <li class="nav-item">
      <a class="nav-link" href="/login">Log In <i class='fa fa-sign-in'></i> </a>
    </li>
  </ul>
</nav>
        </div>
    </div>


    <div id="banner">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <p class="promo-title">Secure Your Passwords</p>
                    <p>  with All in One Password Managing Web App <b>Secure Adda</b>.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="public/images/padlock and shield [Converted].png" class="img-fluid">
                </div>



            </div>
        </div>
        <img src="public/images/wave.png " class="bottom-img">
    </div>
    <!-------------main----------------------->

   <div class="container text-center">
        <h2 class="heading">Why Secure Adda?</h2>
        <div class="feature-box">
            <div class="row equal-height">
                <div class="col-md-4 card">
                    <div class="card-body">
                        <img class="img-responsive" src="public/images/about-security.png" height="100" width="100" />
                        <h4>Security You Can Trust</h4>
                        <p>Our application seals your private information with end-to-end encryption before it ever leaves your devices.</p>
                    </div>
                </div>
                <div class="col-md-4 card">
                    <div class="card-body">
                        <img class="img-responsive" src="public/images/device-icon.png" height="100" width="100" />
                        <h4>Multi Platform Support</h4>
                        <p>Suported on multiple platforms including Windows, Mac, iOS, Android, and all major browsers.</p>
                    </div>
                </div>
                <div class="col-md-4 card">
                    <div class="card-body">
                        <img class="img-responsive" src="public/images/Ease_of_Access.png" height="100" width="100" />
                        <h4>Easy Access</h4>
                        <p>Our webisite has simple interface to fascilitate the users with less complexity and hassle free handling.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><br /><br><br><br>
    <!-----------------------illustration------------>
   
        <div class="container">
            <div class="feature-box row equal-height align-center">
                <div class="col-lg-6 ">
                    <div class="safety">
                        <img src="public/images/secure1.gif" class="imagg" style=" float:right;">
                    </div>
                </div>
                <div class="col-lg-6 online">
                    <br></br>
                    <br></br>
                    <br></br>

                    <h3 class="head">Your online safety is at risk</h3>
                    <p>Password theft is a serious problem. Your online accounts are consistently under attack which is why strong password security practices have never been more critical.</p>
                </div>
            </div>
        </div>
        <br>

        <div class="container">
            <div class="feature-box row equal-height align-center">

                <div class="col-lg-6 online">
                    <br></br>
                    <br></br>
                    <br></br>
                    <h3 class="heade">Selecting a secure password</h3>
                    <p>It is crucial because let’s face it, our entire life is now spent in the digital universe: social media, banking, email, shopping, and more.</p>
                </div>


            <div class="col-lg-6 ">
                    <div class="safety">
                        <img src="public/images/1uni.gif" class="imagg" style=" float:left;">
                    </div>
                </div>
                


            </div>
        </div>
        <br>
               
        <div class="container">
            <div class="feature-box row equal-height align-center">
                <div class="col-lg-6 ">
                    <div class="safety">
                        <img src="public/images/pass.gif" class="imagg" style=" float:right;">
                    </div>
                </div>
                <div class="col-lg-6 online">
                    <br></br>
                    <br></br>
                    <br></br>

                    <h3 class="head">Weak Passwords to Avoid</h3>
                    <p>Everyone is guilty of creating easy to guess passwords at some point in their digital life. You might feel confident that when you chose “3248575” that no one would figure out is your phone number</p>
                </div>
            </div>
        </div>
    
    

    </br></br>
</br></br>


        <div class="container-fluid bg-dark footer text-center">
        <div>
             <a href="#" class="fa fa-2x fa-facebook"></a>&nbsp;&nbsp;
             <a href="#" class="fa fa-2x fa-twitter"></a>&nbsp;&nbsp;
             <a href="#" class="fa fa-2x fa-instagram"></a>&nbsp;&nbsp;
             <a href="#" class="fa fa-2x fa-google"></a>
        </div><br>
        <div id='terms'>
        <a href="#">Terms Of Use </a> · <a href="#">Privacy Policy</a></div>
        <br><br>
        <p class="text-light text-sm">&copy; 2020 SecureAdda<p>
        </div>
        </div>


</body>
</html>
