<!DOCTYPE html>
<html>
<head>
    <title>Secure Adda Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="public/css/style1.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 
    <div class="container">
        <div class="myCard">
            <div class="row">
            
                <div class="col-md-6">
               
                    <div class="myLeftCtn"> 
                     <a href='/'><i class="fa fa-chevron-left back"></i></a>
                        <a href="/"><img src="public/images/Secure Adda2.png" class="img"></a>
                           <img src="public/images/final (1).png" class="img-fluid">
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="myRightCtn">
                        <form class="myForm text-center" action='/dashboard'>
                            <header>Welcome Back !</header>
                            <br>
                           <div class="form-group">
                              <i class="names"> <b></b></i>
                              <input class="myInput" type="text" placeholder="Username" id="username" required>
  
                              <div class="invalid-feedback">Please fill out this field.</div>
  
                          </div>
                          <br>
  

                          <div class="form-group">
                            <i class="names"> <b></b></i>
                            <input class="myInput" type="password" placeholder="Password" id="password" required>

                        </div>


  
                         <br>
                          <div class="form-group">
                        
                                  Never used SecureAdda? <a href="/signup" class="terms text-light btn-link" style="text-decoration: none">Create a free Account</a></small></input>
                          </div>
                          <div class="form-group">
                            <label>
                            <br><br>
                          <input class="submit " type="submit" class="butt " value="Sign In">
                          </label>
                          </div>
  
  
  
  
  
                      </form>
                                
                    </div>
                </div>
            </div>
        </div>
</div>
      

 
</body>
</html>

