<!DOCTYPE html>
<html lang="en">
<head>
    <title>Secure Adda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secure Adda</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>


.myCard {
    
    width: 900px;
    background: #fff;
    height: 530px;


      
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  } 

.form {
   
    padding-left: 15px;
    padding-right: 80px;
}
.container {
    padding-top: 55px;
    padding-left: 110px;
}
h1 {text-align: center;}
th {text-align: center;
    background:#1B9CFC;
    color: #fff;
}
td {text-align: center;}

.form-control {
    border: none;
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.right{
    margin-left: auto;
    align-content: center;

}
.navbar{
    background-color: #1B9CFC;
 position: relative;
}

.navbar-brand {
  left: 48%;
  position: absolute;
}
.footer{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 80px;
    background-color: #2f2f2f;
  }










</style>
</head>



<body>
  <header>
<nav class="navbar navbar-expand-lg">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/dashboard">
    <img src="public/images/icon.png" alt="SecureAdda Icon" style="width:45px;">  
  </a>
   
  <ul class="navbar-nav right">

   <li class="nav-item text-light">
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
        <i class='fa fa-2x fa-user-circle'></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <p class="dropdown-header">Hi, User</p>
        <a class="dropdown-item" href="/vault">My Vault</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item bg-danger text-white" href="/">Log Out</a>
      </div>
    </li>
 

  </ul>
</nav>
</header>


    <div class="container">
        <div class="myCard">
            <div class="form">



                <body>

                    <div class="container">
                      <h1>Social Database</h1>
                      <hr>


                      <br></br>         
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Sr.</th>
                            <th>Website</th>
                            <th>Password</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Facebook</td>
                            <td>     <div class="row justify-content-center">
                                <div class="col-6">
                                  <form>
                              <div class="form-group">
                                
                                <div class="input-group" id="show_hide_password">
                                  <input class="form-control" value="A26b(?@$gjjk" type="password">
                                  <div class="input-group-addon">
                                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                  </div>
                                </div>
                              </div>
                            </form>
                                </div>
                              </div>
                            
                            
                            </td>


                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Instagram</td>
                            <td> <div class="row justify-content-center">
                                <div class="col-6">
                                  <form>
                              <div class="form-group">
                                
                                <div class="input-group" id="show_hide_password">
                                  <input class="form-control" type="password">
                                  <div class="input-group-addon">
                                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                  </div>
                                </div>
                              </div>
                            </form>
                                </div>
                              </div>



                            </td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>linkedin</td>
                            <td>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                      <form>
                                  <div class="form-group">
                                    
                                    <div class="input-group" id="show_hide_password">
                                      <input class="form-control" type="password">
                                      <div class="input-group-addon">
                                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                                    </div>
                                  </div> 



                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
</div>
</div>
</div>
<br></br>




                    <script>



$(document).ready(function() {
    $("#show_hide_password a").on('click', function(event) {
        event.preventDefault();
        if($('#show_hide_password input').attr("type") == "text"){
            $('#show_hide_password input').attr('type', 'password');
            $('#show_hide_password i').addClass( "fa-eye-slash" );
            $('#show_hide_password i').removeClass( "fa-eye" );
        }else if($('#show_hide_password input').attr("type") == "password"){
            $('#show_hide_password input').attr('type', 'text');
            $('#show_hide_password i').removeClass( "fa-eye-slash" );
            $('#show_hide_password i').addClass( "fa-eye" );
        }
    });
});





                        </script>
                    <br></br>


        <div class="container-fluid bg-dark footer text-center">
        <div>
             <a href="#" class="fa fa-2x fa-facebook"></a>&nbsp;&nbsp;
             <a href="#" class="fa fa-2x fa-twitter"></a>&nbsp;&nbsp;
             <a href="#" class="fa fa-2x fa-instagram"></a>&nbsp;&nbsp;
             <a href="#" class="fa fa-2x fa-google"></a>
        </div><br>
        <div id='terms'>
        <a href="#">Terms Of Use </a> · <a href="#">Privacy Policy</a></div>
        <br><br>
        <p class="text-light text-sm">&copy; 2020 SecureAdda<p>
        </div>
        </div>

                    </body>
                    </html>



